/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}

/* regole header */
nav {
    background-color: #3160e0;
    height: 70px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    
    
}

header div {
    margin: 15px 0;
    
}

.logo {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 15%;
    padding-left: 5px;
}

/* sezione login */
.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    padding-right: 5px;
    background-color: transparent;
    margin: 15px 0;
   
}

/* bottoni registrazione */
.bottoni {
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 15px;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.lista-header {
    display: flex;
    list-style: none;
}

.link a {
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

/* regole hero */

.hero {
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
  
}

h1 {
    margin-top: 60px;
    font-size: 60px;
}
.community {
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
    margin: 30px 0;
}

/* regole bottoni grandi */

.bottoni-grandi {
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 150px;
}

.download-top::before {
    content: ' \2193';
    margin-right: 10px;
}

.open-discord {
    background-color: #22272a;
    color: white;
}
/* regole generali text, voice, roles channel */

.channel {
    display: flex;
    justify-content: center;
    background-color: white;

}

.img {
    width: 40%;
    margin: 150px 0;
}

.des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin: 150px 0;
    padding: 0 100px;
    
}

.des p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}

h2 {
    font-size: 50px;
}

.second {
    background-color: #d3d3d3;
}

/* sezione call */

.call  {
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;;
}

.call-ex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 150px 0 0 0;
    
}

.call-ex p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}

.ready {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 30px;
    padding: 40px;
}

.download-bottom::before {
    content: ' \2193';
    margin-right: 10px;
    background-color: #89a1dd;
    color: white;
}

.download-bottom {
    background-color: #89a1dd;
    color: white;
    padding: 15px 30px;
}

/* sezione footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23272a;
    

}

.top-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0;

}

/* info social */
.info-icon {
    width: 30%;
    margin: 5px 0 15px 0;
    border-bottom: 1px solid #f6f6f6;
}

.lingua::after {
    content: ' \02C5';
    color: white;
}

.lingua {
    display: flex;
    align-items: center;
    color: white;
    max-height: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lingua img {
    width: 25px;
}

.loghi-app{
    list-style: none;
    display: flex;
}


.loghi-app a {
    color: white;
    font-size: 20px;
    padding-right: 20px;
    
}

.info-spec {
    width: 10%;
    margin: 5px 0 15px 0;
    border-bottom: 1px solid #f6f6f6;
}

.main-title-footer {
    font-size: 30px;
    color: #7174c1;
}

.lista-footer {
    list-style: none;
    color: white;
    font-weight: 600;
    
}

.lista-footer li {
    padding-top: 10px;
}

.title-list {
    color: #6d8ece;
}

/* footer sotto */
.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7fffd4;
    height: 70px;
    width: 70%;
    margin-top: 20px;
}

.logo-footer {
    font-size: 20px;
    background-color: #fbb6c4;
    padding: 5px;
}

.bt-footer {
    font-size: 20px;
    background-color: #fbb6c4;
    padding: 5px;
    border: none;
}